body {
  background-color: #B0E0E6;
}
.button {
   background-color: black;
   color: white;
   border-radius: 10px;
   cursor: pointer;
}
.img-curri {
  width: 91%;
  height: 76%;
  border: 10px solid;
  border-image: url(print.png) 150 round;
  font-size: 25px;
}
.img-hopper {
  width: 79%;
  height: 69%;
  border: 10px solid;
  border-image: url(print.png) 150 round;
}
h1 {
  background: #B0E0E6;
  color: #0000FF;
  text-align: center;
  font-family: cursive;
  font-size: 3rem;
  border: 13px solid;
  border-image: url(print.png) 150 round;
}
p{
      flex: 0;
      padding: 1%;
      text-align: center;
      font-size: 25px;
}
h2 {
  text-align: center;
  font-size: 2rem;
  font-family: cursive;
  color: cornflowerblue;
  background-color: white;
  border: 1px solid blue;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.sub {
  font-size: 25px;
  text-align: center;
  
}
.sob {
  font-size: 25px;
  text-align:center;
  width: 100%;
  
}
.sob a{
  font-size: 30px;
  word-spacing: 15%;
}
footer {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 15px;
}

.column {
  flex: 1;
  margin: 1px;
  text-align: center;
}

.column p {
   font-size: 1rem; 
}
 
img {
   height: 50px;
   width: 50px;
 }
.copyright {
  font-size: 1rem;
    padding: 10px;
    text-align: center;
/*Responsivo*/
@media (max-width: 768px) {
    .img-curri {
        width: 100%; /* Ocupa toda a largura do contêiner pai */
    }

    .img-hopper {
        width: 100%; /* Ocupa toda a largura do contêiner pai */
    }

    h1 {
        font-size: 2rem; /* Reduza o tamanho da fonte para telas menores */
    }

p {
        font-size: 18px; /* Reduza o tamanho da fonte para telas menores */
    }

    h2 {
        font-size: 1.5rem; /* Reduza o tamanho do título */
    }

    .sob a {
        font-size: 25px; /* Reduza o tamanho do texto dentro de links */
        word-spacing: 10%; /* Ajuste o espaçamento entre palavras */
    }

footer {
        flex-direction: column; /* Coluna em telas menores */
        align-items: center; /* Centralizar conteúdo */
    }

    .column {
        flex: 1;
        margin: 1px;
        text-align: center;
        width: 100%; /* Ocupa toda a largura */
    }

    img {
        height: 30px; /* Reduza o tamanho da imagem */
        width: 30px; /* Reduza o tamanho da imagem */
    }

    .copyright p {
        font-size: 0.8rem; /* Reduza o tamanho da fonte */
    }
}
 
