body {
  background-color: #B0E0E6;
  border: 20px solid;
  border-image: url(print.png) 190 round;
  
}
.banner {
  display: inline-block;
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 100%;
  position: relative;
}
.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./img/dinha.jpg");
  background-size: cover;
  background-position: bottom;
  z-index: -1;
  opacity: 0.5;
}
h1 {
  font-family: cursive;
  color: black;
  font-size: 3rem;
  text-align: center;
}
p {
    font-family: cursive;
    color: black;
    font-size: 2rem;
    text-align: center;
}

h2 {
  flex: 0;
  padding: 3%;
  color: darkblue;
  font-size: 2rem;
  text-align: center;
}
h2.can{
  color: darkblue;
}
.can {
  text-align: center;
  color: black;
  font-size: 1.5rem;
}
html {
  height: 50%;
  text-align: center;
}
.leta {
  width: 25%;
}

.glow-on-hover {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 1rem;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.copyright 
footer {
    font-size: 1rem;
    color:blue
    padding: 10px;
    text-align: center;
} 
 

